@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="jumbotron" data-ride="carousel" data-interval="6000">
    <h1>Рекомендательная система</h1>
</div>
<p>Этот проект служит для поиска подходящих университетов и направлений обучения, в зависимости от полученных баллов ЕГЭ.</p>

